<h3>Login</h3>
<div class="text-danger">
    {{message}}
</div>
<form action="/" method="POST">
    <div class="form-group">
        <label>User Name: </label>
        <input type="text" class="form-control" name="userName" placeholder="Username">
    </div>
    <div class="form-group">
        <label>Password: </label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-user"></i>  Login</button>
    </div>
</form>

<label>New User</label>
<a href="/register">Register</a>