<h3><i class="fas fa-book-reader"></i>Story Books</h3>
<div class="section">
    <p class="lead">Create Public and Private Stories</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="href btn red darker-1">
    <i class="fab fa-google left"></i>Log In With Google
    </a>
</div>