<div class="div my-3">

    <h4>Add A Chore</h4>

    <form (ngSubmit)="onSubmit()">
    <div class="form-group pb-3">
        <label for="title">Title</label>
        <input [(ngModel)]="title" type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
    </div>
    <div class="form-group pb-3">
        <label for="desc">Description</label>
        <input [(ngModel)]="desc" type="text" class="form-control" id="desc" name="desc" placeholder="Description">
    </div>
    <div class="form-check pb-3">
        <input [(ngModel)]="status" type="checkbox" class="form-check-input" id="status" name="status">
        <label class="form-check-label" for="status">Status</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>